<h3>Default locale</h3>
<div>
    Rating (to 4dp): {{ rating | number:'1.4-4' }}<br>
    Rating (%):      {{ rating | percent:'2.2-2' }}
</div>
<div>
    Salary (code):          {{ salary | currency:'CAD':'code':'4.2-2' }}  <br>
    Salary (symbol):        {{ salary | currency:'CAD':'symbol':'4.2-2' }}  <br>
    Salary (symbol-narrow): {{ salary | currency:'CAD':'symbol-narrow':'4.2-2' }}  <br>
</div>
<div>
    Timestamp (date): {{ timestamp | date:'full' }} <br>
    Timestamp (time): {{ timestamp | date:'hh:mm:ss a' }}
</div>

<h3>French locale</h3>
<div>
    Rating (to 4dp): {{ rating | number:'1.4-4':'fr' }}<br>
    Rating (%):      {{ rating | percent:'2.2-2':'fr' }}
</div>
<div>
    Salary (code):          {{ salary | currency:'CAD':'code':'4.2-2':'fr' }}  <br>
    Salary (symbol):        {{ salary | currency:'CAD':'symbol':'4.2-2':'fr' }}  <br>
    Salary (symbol-narrow): {{ salary | currency:'CAD':'symbol-narrow':'4.2-2':'fr' }}  <br>
</div>
<div>
    Timestamp (date): {{ timestamp | date:'full':'':'fr' }} <br>
    Timestamp (time): {{ timestamp | date:'hh:mm:ss a':'':'fr' }}
</div>


<h3>Japanese locale</h3>
<div>
    Rating (to 4dp): {{ rating | number:'1.4-4':'ja' }}<br>
    Rating (%):      {{ rating | percent:'2.2-2':'ja' }}
</div>
<div>
    Salary (code):          {{ salary | currency:'CAD':'code':'4.2-2':'ja' }}  <br>
    Salary (symbol):        {{ salary | currency:'CAD':'symbol':'4.2-2':'ja' }}  <br>
    Salary (symbol-narrow): {{ salary | currency:'CAD':'symbol-narrow':'4.2-2':'ja' }}  <br>
</div>
<div>
    Timestamp (date): {{ timestamp | date:'full':'':'ja' }} <br>
    Timestamp (time): {{ timestamp | date:'hh:mm:ss a':'':'ja' }}
</div>


<h3>User-selected locale: 
	<select [(ngModel)]="selectedLocale">
		<option>en</option>
		<option>fr</option>
		<option>de</option>
		<option>ja</option>
	</select>
</h3>

<div>
    Rating (to 4dp): {{ rating | number:'1.4-4':selectedLocale }}<br>
    Rating (%):      {{ rating | percent:'2.2-2':selectedLocale }}
</div>
<div>
    Salary (code):          {{ salary | currency:'CAD':'code':'4.2-2':selectedLocale }}  <br>
    Salary (symbol):        {{ salary | currency:'CAD':'symbol':'4.2-2':selectedLocale }}  <br>
    Salary (symbol-narrow): {{ salary | currency:'CAD':'symbol-narrow':'4.2-2':selectedLocale }}  <br>
</div>
<div>
    Timestamp (date): {{ timestamp | date:'full':'':selectedLocale }} <br>
    Timestamp (time): {{ timestamp | date:'hh:mm:ss a':'':selectedLocale }}
</div>
