<nav>
  <a routerLink="/">Home</a>&nbsp;&nbsp;
  <a routerLink="/data-binding-syntax">Data binding syntax</a> &nbsp;&nbsp;
  <a routerLink="/two-way-binding">2-way data binding</a> &nbsp;&nbsp;
  <a routerLink="/additional-techniques">Additional techniques</a> &nbsp;&nbsp;
  <a routerLink="/ng-if">ngIf</a> &nbsp;&nbsp;
  <a routerLink="/ng-if-then-else">ngIf-then-else</a> &nbsp;&nbsp;
  <a routerLink="/ng-for">ngFor</a> &nbsp;&nbsp;
  <a routerLink="/ng-switch">ngSwitch</a> &nbsp;&nbsp;
</nav>

<router-outlet></router-outlet>

