<nav>
  <a routerLink="/">Home</a>&nbsp;&nbsp;
  <a routerLink="/simple-pipes">Simple pipes</a> &nbsp;&nbsp;
  <a routerLink="/locales">Locales</a> &nbsp;&nbsp;
  <a routerLink="/slice-pipe">Slice pipe</a> &nbsp;&nbsp;
  <a routerLink="/i18nPlural-pipe">i18nPlural pipe</a> &nbsp;&nbsp;
  <a routerLink="/i18nSelect-pipe">i18nSelect pipe</a> &nbsp;&nbsp;
  <a routerLink="/async-pipe">async pipe</a> &nbsp;&nbsp;
  <a routerLink="/custom-pipes">Custom pipes</a> &nbsp;&nbsp;
  <a routerLink="/template-driven-forms">Template-driven forms</a> &nbsp;&nbsp;
  <a routerLink="/reactive-forms">Reactive forms</a> &nbsp;&nbsp;
</nav>

<router-outlet></router-outlet>

