<h1>Products</h1>

<div class="container">
    <div *ngFor="let p of products">
        <a [routerLink]="['/master-detail', {outlets: {masterDetailRouterOutlet: ['products', p.id]}}]">{{ p.description }}</a>
    </div>
</div>

<router-outlet name="masterDetailRouterOutlet"></router-outlet>




