<div class="thumbnail">

  <img src="assets/0.jpg">


  <div class="caption-head">
    <h4>{{ film.title }}</h4>
    Blurb: {{ film.blurb }}<p>
    <div class="caption">
      <div>Price: ${{ film.price }}</div>
      <div>Average Score: {{film.averageScore()}}</div>
	    <div>Genres: [{{film.genresAsString()}}]</div>
    </div>
  </div>
</div>

