
h4 {
  text-align: center;
}
.thumbnail {
  font-family: verdana;
  width: 269px;

}
.thumbnail img {
  height: 200px;
  padding: 0%;
  margin-bottom: 0%;
}

.caption-head {
  background-color : rgba(0, 217, 255, 0.185);
  padding: 2pt;
}
.caption {
   text-indent: 5pt
}

