.film-item {
    padding: 10px;
    background-color: steelblue;
    color: white;
}

.film-item img {
    width: 100%;
}

.film-item div {
    margin-bottom: 20px;
}

.film-item .caption-left {
    float: left;
}

.film-item .caption-right {
    float: right;
}

.film-item .caption-normal {
    clear: both;
}

