<h1>Products</h1>
<!-- Parent ProductList Component passes each Product object
     to a new ProductItem instance with the [product] directive
-->
<div>
	<div *ngFor="let p of products">
		<app-product-item [product]="p"></app-product-item>
	</div>
</div>
