<nav>
  <a routerLink="/">Home</a>&nbsp;&nbsp;
  <a routerLink="/another">Another component</a>&nbsp;&nbsp;
  <a routerLink="/shoppingcart">Shopping cart</a>&nbsp;&nbsp;
  <a routerLink="/filmlist">Film list</a>
</nav>

<router-outlet></router-outlet>