<div *ngIf="items.length > 0; then populatedCartTemplate else emptyCartTemplate"></div>

<ng-template #populatedCartTemplate>
	<h1>Your Shopping Cart</h1>

	<div *ngFor="let item of items" class="itemPanel" [class.highvalue]="item.quantity * item.price > 10000">
		
		<h2>{{item.title}}</h2>

		<p>
			<label>Quantity</label>
			<input type="number" [(ngModel)]="item.quantity">
		</p>
		
		<p>
			<label>Unit price</label>
			<span>&pound;{{item.price}}</span>
		</p>

		<p>
			<label>Line cost</label>
			<span>&pound;{{lineCost(item.id)}}</span>
		</p>

        <p>
            <label>Timestamp</label>
            <span>{{item.timestamp}}</span>
        </p>

		<button (click)="remove(item.id)">Remove</button>
		
	</div>	

	<div>
        <h2>Total cart cost: &pound;{{totalCartCost()}}</h2>
    </div>

</ng-template>

<ng-template #emptyCartTemplate>
	<h1>Empty Shopping Cart</h1>
</ng-template>