
<div *ngIf="items.length >0; then populateCart else emptyCart"></div>

<ng-template #emptyCart>
	<h1>Empty Shopping Cart</h1>
</ng-template>

<ng-template #populateCart>
  <div *ngFor="let item of items" class="itemPanel"
      [class.highvalue]="item.quantity * item.price > 10000" >
    <h2>{{ item.title }}</h2>
    <p>
      <label>Quantity: </label>
      <input type="number" [(ngModel)]="item.quantity"/>
    </p>
    <p>
      <label>Unit Price: </label>
      <span>&pound;{{item.price}}</span>
    </p>
    <p>
      <label>Line Cost: </label>
      <span>&pound;{{item.price * item.quantity}}</span>
    </p>
    <button (click)="remove(item.id)">Remove</button>

  </div>
</ng-template>
