<div>
    Display items from
    <input type='text' [(ngModel)]='sliceStart'> to
    <input type='text' [(ngModel)]='sliceEnd'>
</div>

<div *ngFor="let item of items | slice:sliceStart:sliceEnd; let e=even" 
     [ngClass]="{evenrow:e}" class="itemPanel">
    <h2>{{item.title | uppercase}}</h2>

    <p> <label>Quantity</label>
        <input [(ngModel)]='item.quantity' />
    </p>
    <p> <label>Unit price</label>
        <span>{{item.price | currency:'USD':'symbol-narrow'}}</span>
    </p>
    <p> <label>Line cost</label>
        <span>{{(item.price * item.quantity) | currency:'USD':'symbol-narrow'}}</span>
    </p>
    <p> <label>Timestamp</label>
        <span>{{item.timestamp | date}} [{{item.timestamp | date:'hh:mm:ss a'}}]</span>
    </p>
    <p> <label>Percent cost</label>
        <span>{{ ((item.price * item.quantity)/totalCartCost()) | percent:'1.2-2'}}</span>
    </p>
    <button (click)="remove(item.index)">Remove</button>
</div>