.productItem {
    margin-bottom: 50px;
    padding: 5px 5px 10px 5px;
    width: 300px;
    background-color: #00B0FF;
    color: white;
}

a {
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: orange;
    color: white;
}
