<h1>Product {{product.id}}</h1>

<div class="productItem">
	<h3>{{product.description }}</h3>
	<div>Category: {{ product.category }}</div>
	<div>Price: £ {{ product.price }}</div>
</div>

<a *ngIf="backLink" [routerLink]="backLink">Back to all products</a>
	
