<div>
    <input [(ngModel)]="reviewComment" placeholder="Enter review comment" />&nbsp;
    <button (click)="submitReview()">Submit</button>
    <span *ngIf="reviewComments.length != 0" title="{{reviewComments.length}} review(s) so far">[{{reviewComments.length}}]</span>
</div>
