<nav>
  <a routerLink="/">Home</a>&nbsp;&nbsp;
  <a routerLink="/routing-params-and-data">Routing parameters and data</a> &nbsp;&nbsp;
  <a routerLink="/master-detail">Master-detail</a> &nbsp;&nbsp;
</nav>

<router-outlet></router-outlet>

