<app-film-list-header></app-film-list-header>

<div class="film-item-container">
    <div *ngFor="let film of films">
        <app-film-item [film]="film"></app-film-item>
    </div>
</div>

<app-film-list-footer></app-film-list-footer>
