<div>
    <div class="wideColumn">
        <h1>Products</h1>
        <div *ngFor="let p of products">
            <app-product-item-with-sales 
                [product]="p" 
                (sale)="onSale($event)">
            </app-product-item-with-sales>
        </div>
    </div>
    
    <div class="narrowColumn">
        <app-sales-lister [newSale]="newSale"></app-sales-lister>
    </div>
</div>

