<h1>i18nPlural pipe</h1>
<div>
    Soft skills: {{ softSkills.length | i18nPlural: messageMapping }}
</div>
<div>
    Business skills: {{ businessSkills.length | i18nPlural: messageMapping }}
</div>
<div>
    Framework skills: {{ frameworkSkills.length | i18nPlural: messageMapping }}
</div>
<div>
    Language skills: {{ languageSkills.length | i18nPlural: messageMapping }}
</div>


