<nav>
  <a routerLink="/">Home</a>&nbsp;&nbsp;
  <a routerLink="/component-hierarchy">Component hierarchy</a> &nbsp;&nbsp;
  <a routerLink="/component-inputs">Component inputs</a> &nbsp;&nbsp;
  <a routerLink="/component-outputs">Component outputs</a> &nbsp;&nbsp;
  <a routerLink="/mediator-pattern">Mediator pattern</a> &nbsp;&nbsp;
</nav>

<router-outlet></router-outlet>

